.baseCardContainer{
    height: 15rem;
    border-radius: 25px;
    background-color: #FFFF;
    padding: 0.5rem;
    margin-top: 1rem;
}

.flexWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.savingsFlex{
    width: 50%;
}

.investmentsFlex{
    width:50%;
}

@media screen and (max-width: 768px){
    .flexWrapper{
        flex-direction: column;
        overflow: auto;
    }

    .savingsFlex{
        width: 100%;
    }
    
    .investmentsFlex{
        width:100%;
        margin-top: -5rem;
    }

    .baseCardContainer{
        height: 19rem;
    }
    
}