body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dashboard page -------------------------------------------------------------- */

.contentContainer {
    display: flex;
    flex-direction: row;
    background-color: #f0f2f8;
}

.pageContainer {
    padding: 0rem 2rem 2rem 2rem !important;
    margin: 0 !important;
    height: 100vh;
    overflow-y: auto;
}

.pageContainerSavings {
    padding: 1rem 2rem 2rem 2rem !important;
    margin: 0 !important;
    height: 100vh;
    overflow-y: auto;
}


.dashboardHeader {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 1rem !important;
    margin-left: 1rem !important;
}

.cardSubHeader {
    color:#9197B3;
}

.dbBarChartContainer {
    height: 90%;
    margin: 0;
    padding-top: 1.5rem;
    /* padding: 1.5rem 0rem; */
}

.dbBarChart {
    height: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
}


.dbGoalTrack {
    float:right;
    text-align: center;
    background-color: #D3FFE7;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    color: #000;
}

.dbGoalPercent {
    font-weight: bold;
}


/* Dashboard page -------------------------------------------------------------- */




/* Expenses page -------------------------------------------------------------- */

.expHeader {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 1rem !important;
    margin-left: 0rem !important;
}

.expHeaderToggle {
    display: flex;

}

.expSubHeading {
    margin-top: 1rem !important;
}

.expToggleBtn {
    margin-top: 1rem;
    border-radius: 15px !important;    
    background-color: rgb(255, 255, 255) !important;
    margin: 0 !important;
    margin-top: 1rem !important;
    float:right !important;
}

.expToggle {
    color: #E5355F !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem !important;
    text-transform: none !important;
}

.expToggle2 {
    color: #E5355F !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem !important;
    text-transform: none !important;
}

.expToggle:hover {
    border: #E5355F 1px solid !important;
}

.expToggle2:hover {
    border: #E5355F 1px solid !important;
}

.Mui-selected {
    color:#ffffff !important;
    background-color: #E5355F !important;
}

.expPieChartContainer {
    height: 90%;
    /* width: 90%; */
    margin: 0;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1.5rem 0rem; */
}

.expPieChart {
    padding-bottom: 1rem;
}

.expManageBtn {
    float: right;
    border: none;
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    color:#FFF;
    background-color: #E5355F;
    margin-right: 1.2rem;
}

.expManageBtn:active {
    background-color: #ab2645;
}


.expensesFormBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.viewDropdown{
    float: right;
}

.viewDropdownToggle{
    background-color: #E7E7E7!important;
    border-radius: 10px !important;
    color: black !important;
    border: none !important;
    margin-right: 1rem;
}

@media screen and (max-width: 992px){
    .desktopExpensesInput{
        display: none;
    }
}

@media screen and (min-width: 992px){
    .mobileExpensesInput{
        display: none;
    }
}


/* .desktopExpensesInput{
    height: 100%;
} */

/* Expenses page -------------------------------------------------------------- */



/* Support page -------------------------------------------------------------- */

.supportInboxContainer {
    /* background-color: #4672ca; */
    width: 100%;
    height: 100%;
    list-style: none;
    overflow-y: auto;
}

.supportInboxLi {
    background-color: #FFEFFF;
    border-radius: 10px;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    color: black;
}

.supportFormHeader {
    margin-bottom: 1rem;
}

.supportFormSubHeader {
    /* font-weight: bold; */
    font-size: larger;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.supportInput {
    border: none;
    background-color: #F7F7F8;
    border-radius: 10px;
    height: 2rem;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.supportTxtArea {
    border: none;
    background-color: #F7F7F8;
    border-radius: 10px;
    height: 40%;
    padding: 0.5rem 1rem;
    width: 100%;
    resize: none;
}

.supportSendBtn {
    float: right;
    border: none;
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    color:#FFF;
    background-color: #E5355F;
    width: 15%;
    margin-top: 1rem;
}

.supportSendBtn:active {
    background-color: #ac2645;
}

.supportForm{
    height: 90%;
    overflow-y: auto;
}

.replyBtn{
    float: right;
    border-radius: 20px;
    width: 4rem;
    background-color: #E5355F;
    color: white;
    border: none;
}





/* Support page -------------------------------------------------------------- */



/* Login and Signup page ------------------------------------------------------- */

body {
    background-color: #4672ca;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: url("image/loginBackground.jpg");
    background-position: 50% 70%;
}

.loginContainer {
    height: 100vh;
    width: 25vw;
    background-color: #ffffffb2;
    display: flex;
    flex-direction: column;
    justify-content: center;    /* vertically align items */ 
    margin-left: auto;
    margin-right: auto;
}

.loginLabel{
    align-self: left;
    margin-left: 2.5vw;
    color: #030229;
    margin-bottom: 0.5rem;
}

.loginHeader {
    align-self: center;
    margin: 0;
    padding: 0;
    margin-top: -20vh;
    margin-bottom: 10vh;
}

.loginForm {
    width: 80%;
    margin: 0;
    padding: 0;
}

.loginInput {
    align-self: center;
    margin: 0;
    padding: 0;
    width: 80%;
    color: #030229;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 0;
    height: 2rem;
    text-indent: 4%;
}

.loginBtn {
    align-self: center;
    text-align: center;
    text-decoration: none;
    margin: 0;
    height: 2rem;
    background-color: #E5355F;
    border: 0;
    width: 80%;
    border-radius: 5px;
    color:#ffffff;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.loginBtn:hover {
    cursor: pointer;
    color:#ffffff;
}

.loginBtn:active {
    background-color: #a42845;
}

#signup-login {
    color:#605BFF;
    text-decoration: none;
}

#signup-login:active {
    color:#2e4a83
}

#loginSpan {
    margin: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

/* Login and Signup page ------------------------------------------------------- */



/* Startup page ---------------------------------------------------------------- */

.startContainer {
    display: flex;
    background-color: #f0f2f8;
    height: 100vh;
    overflow-y: scroll;
}

@media screen and (max-width: 1200px){
    .destroyed{
        display: none !important;
    }
}

@media screen and (min-width: 768px){
    .inputMobileCard{
        display: none !important;
    }
}


@media screen and (max-width: 768px){
    .inputDesktopCard{
        display: none !important;
    }
}





/* Startup page ---------------------------------------------------------------- */


@media screen and (max-width: 768px){
    .loginContainer {
        width: 100vw;
    }
    .loginLabel {
        margin-left: 10vw;
    }
    .contentContainer {
        flex-direction: column;
        height: 100vh;
    }
    .pageContainer {
        /* width: 100vw !important; */
        padding: 0 1rem 0 1rem !important;
        overflow-y:auto;
    }

    .SavrHeader{
        display: none;
    }
    .supportTxtArea {
        height: 7rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    .loginContainer {
        width: 45vw;
    }
    .loginLabel {
        margin-left: 4.5vw;
    }
    .loginInput {
        text-indent: 3%;
    }
}
